# Entornos virtuales
venv/
env/
ENV/
strassen_env/

# Archivos de entorno
.env
.env.local
.env.development
.env.test

# Paquetes de Python
*.pyc
__pycache__
*.pyo
*.pyd
*.db

# Instalaciones con pip
pip-selfcheck.json

# Directorios de desarrollo
.pytest_cache/
.coverage
htmlcov/